venv/
.idea/
.vscode/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

*/node_modules/
/flaskr/plugin/读取excel文件/202102养固健内销明细.xlsx
/flaskr/plugin/读excel写json文件/o365.json
/flaskr/plugin/读excel写json文件/O365权限-20210317.xlsx
