<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">

  <div style="width: 300px; height: 200px;">
    <h1>用户登录</h1>
    <form action="/auth/login" method="post">
    <fieldset>
      <legend>用户名：</legend>
      <input type="text" placeholder="请输入用户信息" style="width: 100%;">
    </fieldset>
    <fieldset>
      <legend>密码：</legend>
      <input type="password" placeholder="请输入密码" style="width: 100%;">
    </fieldset>
    <button type="submit">登录</button>
  </form>
  </div>
</body>

</html>